@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: #0f0e19;
  padding: 6px 14px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .nama_logo {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar ul{
  margin-top: 20px;
}

.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 1 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: solid;
  transition: all 0.5s ease;
  border-radius: 14px;
}

.sidebar ul li a:hover {
  color: #0f0e19;
  background: #fff;
  text-align: center;
}

.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 14px;
  line-height: 50px;
  text-align: center;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 14px;
  outline: none;
  border: none;
  background: #22203b;
  padding-left: 50px;
  font-size: 14px;
  color: #fff;
}

.sidebar ul li .bx-search-alt {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
}

.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
}
